/*LOGIN SCREEN CLASSES*/

.login-screen-main{
  width:100%;
  height:100vh;
  margin: 0 auto;
  background-color: darkslategray;
}

.login-screen-header{
  background-color: rgb(36, 59, 59);
  height:20%;
  margin: 0 auto;
  text-align: center;
}

.login-screen-body{
  height:80%;
  margin: 0 auto;
  text-align: center;
}

.login-link{
  height:10vh;
  font-size: 3vmin;
  width:15%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color:#FFFFFF;
  border:2px solid rgb(36, 59, 59);
  border-radius:10px;
  margin-top:50px;
  padding-top:3%;
  transition: 0.3s;
}

.login-link:hover{
  background-color: rgb(36, 59, 59);
  border:2px solid darkslategray;
  transition: 0.3s;
}

.header{
  color:#FFFFFF;
  font-size:20pt;
  padding-top:40px;
}





/*MAIN APP CLASSES*/

/*Main grid*/
.main-grid {
  width:100%;
  margin: 0 auto;
}

/*grid header*/
.main-grid-header {
  background-color: rgb(36, 59, 59);
  height: 8vh;
  font-size: calc(10px + 1vmin);
  color: white;
  padding-left:50px;
}

/*grid body*/
.main-grid-body{
  background-color: darkslategray;
  margin: 0 auto;
}

/*header button classes*/
.header-button{
  width:10%;
  height:100%;
  cursor: pointer;
  float:left;
  text-align: center;
  transition: 0.3s;
  line-height: 370%;
}

.header-button:hover{
  background-color: darkslategray;
  transition: 0.3s;
}

/*main element in body*/
.main-elements-holder{
  width:70%;
  padding-top:50px;
  margin: 0 auto;
  color:#FFFFFF;
}

.karaoke-page{
  height:86.8vh;
}

.youtube-viewer{
  width:50%;
}

.search-bar-element input{
  padding:3px;
  width:100%;
  height:25px;
  font-size: calc(10px + 1vmin);
  background-color: rgb(0, 109, 109);
  color:#FFFFFF;
  border: 0.5px solid rgb(139, 139, 139);
}

.chat-room{
  width:50%;
}

.about-page{
  background-color: darkslategray;
  min-height:74.4vh;
  padding-bottom:100px;
}

.about-coronavirus{
  padding-left: 10%;
  padding-right: 10%;
}

.about-QKC{
  padding-left: 10%;
  padding-right: 10%;
}

.link-to-website{
  color:lightblue;
  font-weight: bold;
}
